extends layout

block content
  div.container
    div.row
      h1= title

    div.row
      p #{content}

      form.markov-generate-form.form-inline
        div.form-group
          input.markov-generate-input.form-control
          button.btn.btn-default Begin Chain
