extends layout

block content
  div.container
    div.row
      div.col-md-12
        h1 #{title}

        p #{content}

        form.markov-form.form-inline(data-type="generate")
          div.input-group
            input.markov-input.form-control(placeholder="First Word of Chain")
            span.input-group-btn
              button.btn.btn-default Begin Chain
