extends layout

block content
  div.container
    div.row
      h1 #{title}

    div.row
      p #{content}

      form.markov-form.form-inline(data-type="generate")
        div.form-group
          input.markov-input.form-control
          button.btn.btn-default Begin Chain
