extends layout

block content
  div.container
    div.row
      h1= title

    div.row
      p #{content}

      a.twitter-timeline(href="https://twitter.com/tweetakeet" data-widget-id="456520956387684352") Tweets by @tweetakeet
