extends layout

block content
  div.row
    h1= title

  div.row
    p #{content}

  div.row
    input.markov-input
    button.markov-button Begin Chain

  div.row
    a(href="/clear") Clear Data

  div.row
    a(href="/add") Add Data
