doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/js/main.js')
    script(src='//platform.twitter.com/widgets/js')

  body
    header.navbar.navbar-static-top
      div.navbar-header
        a.navbar-brand(href="/") Home
    block content
