body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.icon-bar {
  background-color: #00B7FF;
}

footer {
  margin-top: 3em;
  border-top: 1px solid #EEE;
  padding: 1em 0;
  text-align: center;
}
